body{

  flex-direction: center;
  background-color: #2D2B2B;
}

h1{

  margin-top: 15px;
 margin-left:35px;
  color: #FB8200;
  font: Helvetica;

}
h2{
  color: #E7E4E4;
  background-color:#2D2B2B;
}
hr{
  height: 1px; 
  color:#FB8200 ;

}
.card{
  border: 0ch;
}
.row{
  background-color:#2D2B2B;
}
h6{
  margin-left: 20px;
  color: #E7E4E4;
}
h7{
  color: #919191;
}