.Header-main {
    /* Layout Properties */
    top: -1px;
    left: 0px;
    /* UI Properties */
    background: var(--unnamed-color-2d2b2b) 0% 0% no-repeat padding-box;
    background: #2D2B2B 0% 0% no-repeat padding-box;
    opacity: 1;
}


.Header-logo {
    margin-left: 45px;
    /* Layout Properties */
    top: 15px;
    left: 94px;
    width: 54px;
    height: 69px;
    /* UI Properties */
    opacity: 1;
}

.Header-title {
    margin-left: 20px;
    /* Layout Properties */
    top: 26px;
    width: 198px;
    height: 48px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 36px/48px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-fb8200);
    text-align: center;
    font: normal normal bold 36px/48px Roboto;
    letter-spacing: 0px;
    color: #FB8200;
    opacity: 1;
}
.Header-main hr{
    width: 100%;
    border-top: 5px solid #FB8200;

}
/* Small devices (tablets, 768px and up) 
@media (min-width: 768px) {
    .Header-main {
        height: 80px;
    }
 }
*/